{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bebidas
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Bebidas
{% endblock title_menu %}


<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-3">

    <div class="col-sm-6 col-md-5"></div>

        <div class="col-sm-6 col-md-2">

       
    <a type="button" href = "{% url 'bebida-list' %}" class=" btn btn-danger">Lista</a><br><br>
          
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}

                    {{ form.as_p }}

                    {% if request.resolver_match.url_name == "bebida-update" %}

                        <input type="submit" value="Update">

                    {% else %}

                        <input type="submit" value="Create">

                    {% endif %}   
                     
                </form>
             
        </div>

</div>


{% endblock content %}