{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bebidas
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
 Detalle de Bebidas
{% endblock title_menu %}




<!--Bloque de Contenido de la página-->
{% block content %}


    <p> {{bebida.nombre}}</p>
    <p> {{bebida.descripcion}}</p>
    <p> ${{bebida.precio}}</p>
    <div style="text-align:left;">
        <img height="225" src="{{ bebida.imagen.url }}" /> 
    </div>

    <p>
        <a href="{% url 'bebida-list' %}">Regresar</a>
    </p>


{% endblock content %}