{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bebidas
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Bebidas
{% endblock title_menu %}




<!-- Bloque del titulo de la página-->  
{% block title_page %}   
<div class="container-expand text-center">
<div class="text-bg-danger p-4">
    <h5> 
        Te damos la Bienvenida al menú digital.<br> En el podras
ver, crear, modificar o eliminar según consideres necesario.<br>
Te pedimos que sigas las instrucciones que se detallan a continuación...
        
   </h5>
</div>
</div>
{% endblock title_page %}




<!--Bloque de Contenido de la página-->
{% block content %}
<body>
    <h1>Bebidas</h1>
    <a type="button" href="{% url 'bebida-create' %}" class="btn btn-sm btn-outline-primary">Nueva bebida</a> 
    <ul>
        {% for bebida in bebidas %}

            <li>
                <p> {{bebida.nombre}}: ${{bebida.precio}}</p>
                <p>
                    <a href="{% url 'bebida-detail' bebida.id %}"> Ver</a>
                    <a href="{% url 'bebida-update' bebida.id %}"> Editar</a>
                    <a href="{% url 'bebida-delete' bebida.id %}"> Borrar</a>
                </p>
            </li>
        
        {% endfor %}
    </ul>
</body>
{% endblock content %}