{% extends 'app_menu/base.html' %}

{% block title %}
Menu de Edición
{% endblock title %}

{% block title_menu %}
Edición...
{% endblock title_menu %}

{% block content %}

<style>

div.galeria{
    align-items: flex-start;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 20px 15px;
    float: left;
    width: 350px;
}


 div.imagen {

    text-align: center;
 }



</style>

{{mensaje}}



<div class=" text-center mt-1">
<a type="button" href="{% url 'menu-logout' %}" class="btn btn-danger mt-1">Log out</a> 
<a type="button" href="{% url 'user-detail' user.id %}" class="btn btn-success mt-1">Editar perfil</a><br>
</div>

<div class="row mt-5">






 


<div class="galeria">
    <div class="foto">
        <img src="/media/bebida1.jpg" width="350" height="310">
    </div>
    <div class="imagen">
        <a class="btn btn-danger mt-1"  href="{% url 'bebida-list' %}">Bebidas</a>
   </div>
</div>


<div class="galeria">
    <div class="foto">
        <img src= "/media/entradas1.jpg" width="350" height="310">
    </div>
    <div class="imagen">
        <a class="btn btn-danger mt-1"  href="{% url 'entrada-list' %}">Entradas</a>
    </div>
</div>      


<div class="galeria">
    <div class="foto">
        <img src= "/media/plato1.jpg" width="360" height="310">
    </div>
    <div class="imagen">
        <a class="btn btn-danger mt-1"  href="{% url 'plato-list' %}">Platos</a>
    </div>
</div>


<div class="galeria">
    <div class="foto">
        <img src="/media/postre1.jpg" width="350" height="310">
    </div>
    <div class="imagen">
        <a class="btn btn-danger mt-1"  href="{% url 'postre-list' %}">Postre</a>
    </div>
</div>
</div>


 
{% endblock content %}