{% extends 'app_menu/base.html' %}

{% block content %}

{{mensaje}}

<a class="btn btn-danger mt-1"  href="{% url 'bebida-list' %}">Bebidas</a> <br>
<a class="btn btn-danger mt-1"  href="{% url 'entrada-list' %}">Entradas</a> <br>
<a class="btn btn-danger mt-1"  href="{% url 'plato-list' %}">Platos</a><br>
<a class="btn btn-danger mt-1"  href="{% url 'postre-list' %}">Postres</a><br>


<a type="button" href="{% url 'menu-logout' %}" class="btn btn-sm btn-outline-danger">Log out</a> 
<a type="button" href="{% url 'user-detail' user.id %}" class="btn btn-sm btn-outline-success">Editar perfil</a> 

{% endblock content %}