{% extends 'app_menu/base.html' %}




<!--Bloque de la Pestaña de la Página-->
{% block title %}
Entradas
{% endblock title %}



<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Entradas
{% endblock title_menu %}



<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-5">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-4">

    <a type="button" href="{% url 'edicion-menu' %}" class="btn btn-danger mt-1" >Volver a Menu</a> 

    <a type="button" href="{% url 'entrada-create' %}" class="btn btn-danger mt-1" >Nueva entrada</a> 

    
    <ul>
        {% for entrada in entradas %}

            <li>
                <p> {{entrada.nombre}}: ${{entrada.precio}}</p>
                <p>
                    <a href="{% url 'entrada-update' entrada.id %}" class="btn btn-danger mt-1" > Editar</a><br>
                    <a href="{% url 'entrada-delete' entrada.id %}" class="btn btn-danger mt-1" > Borrar</a><br>
                </p>
            </li>
        
        {% endfor %}
    </ul>
    
        </div>
        
</div>

{% endblock content %}