{% extends 'app_menu/base.html' %}




<!--Bloque de la Pestaña de la Página-->
{% block title %}
Entradas
{% endblock title %}



<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Entradas
{% endblock title_menu %}



<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-5">

    <div class="col-sm-6 col-md-5"></div>
        
        <div class="col-sm-6 col-md-3">

    <a type="button" href="{% url 'inicio' %}" class="btn btn-danger mt-1" >Volver al inicio</a> 
    
    <ul>
        {% for entrada in entradas %}

            <li>
                <p> {{entrada.nombre}}: ${{entrada.precio}}</p>
                    <a href="{% url 'entrada-detail' entrada.id %}" class="btn btn-danger mt-1" > Ver</a>
            </li>
        
        {% endfor %}
    </ul>

        </div>
        
</div>

{% endblock content %}