{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Entradas
{% endblock title %}



<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Entradas
{% endblock title_menu %}



<!--Bloque de Contenido de la página-->
{% block content %}

        <div class="container">
            <a type="button" href = "{% url 'entrada-list' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary" >Lista</a>
            <form method="post" enctype="multipart/form-data" style="margin-top: 1em;">{% csrf_token %}
            {{ form.as_p }}
            {% if request.resolver_match.url_name == "entrada-update" %}
                <input type="submit" value="Update">
            {% else %}
                <input type="submit" value="Create">
            {% endif %}    
            </form>
             
        </div>  

{% endblock content %}