{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Entradas
{% endblock title %}



<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Detalle de Entradas
{% endblock title_menu %}


<!--Bloque de Contenido de la página-->
{% block content %}


    <p> {{entrada.nombre}}</p>
    <p> {{entrada.descripcion}}</p>
    <p> ${{entrada.precio}}</p>
    <div style="text-align:left;">
        <img height="225" src="{{ entrada.imagen.url }}" /> 
    </div>
    <p>
        <a href="{% url 'entrada-inicio' %}" class="btn btn-danger mt-1" >Regresar</a>
    </p>


{% endblock content %}