{% extends 'app_menu/base.html' %}




<!--Bloque de la Pestaña de la Página-->
{% block title %}
Entradas
{% endblock title %}



<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Entradas
{% endblock title_menu %}



<!--Bloque de Contenido de la página-->
{% block content %}

    <a type="button" href="{% url 'entrada-create' %}" class="btn btn-danger mt-1" >Nueva entrada</a> 
    <ul>
        {% for entrada in entradas %}

            <li>
                <p> {{entrada.nombre}}: ${{entrada.precio}}</p>
                <p>
                    <a href="{% url 'entrada-detail' entrada.id %}" class="btn btn-danger mt-1" > Ver</a>
                    <a href="{% url 'entrada-update' entrada.id %}" class="btn btn-danger mt-1" > Editar</a>
                    <a href="{% url 'entrada-delete' entrada.id %}" class="btn btn-danger mt-1" > Borrar</a>
                </p>
            </li>
        
        {% endfor %}
    </ul>

{% endblock content %}