{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bienvenido..
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Menú Principal
{% endblock title_menu %}





<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-2">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-3">

        <h3> Bienvenid@ </h3><br>

        <a class="btn btn-danger mt-1"  href="{% url 'bebida-inicio' %}">Bebidas</a><br>
        <a class="btn btn-danger mt-1"  href="{% url 'entrada-inicio' %}">Entradas</a><br>
        <a class="btn btn-danger mt-1"  href="{% url 'plato-inicio' %}">Platos</a><br>
        <a class="btn btn-danger mt-1"  href="{% url 'postre-inicio' %}">Postres</a><br>

        <br><br><br><br>

        <p>Empleados:</p>
        <p style="color:red"> {{mensaje}} </p>
        <a class="btn btn-danger mt-1"  href="{% url 'menu-login' %}">Iniciar Sesión</a><br><br>

        <p> ¿No tienes Cuenta? </p>
        <a class="btn btn-danger mt-1"  href="{% url 'menu-registro' %}">Registrate!</a>

        </div>
        
</div>   

{% endblock content %}