{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bienvenido..
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Menú Principal
{% endblock title_menu %}





<!--Bloque de Contenido de la página-->
{% block content %}

<div class="row mt-2">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-3">



<h5> Bienvenid@, esta página se hizo con el fin de poder
mostrar de una manera funcional como puede realizarse un "CRUD".<br>
Para poder realizar cambios en esta pagina web, debes Iniciar Sesión:</h5><br>

<a class="btn btn-danger mt-1"  href="{% url 'Login' %}">Iniciar Sesión</a><br><br>

<p> ¿No tienes Cuenta? </p><br>
<a class="btn btn-danger mt-1"  href="{% url 'registro' %}">Registrate!</a>


        </div>
        
</div>   

{% endblock content %}