{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->


<!--Bloque de la Pestaña de la Página-->
{% block title %}
Platos
{% endblock title %}


<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Confirmación Delete
{% endblock title_menu %}


<!--Bloque de Contenido de la página-->
{% block content %}
<body>
    <main class="flex-shrink-0">
        <div class="container">
            <a type="button" href = "{% url 'plato-list' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary" >Lista de platos</a>
            <form method="post">{% csrf_token %}
                <p>¿Está seguro que desea borrar "{{plato.nombre}}"?</p>
                {{ form }}
                <input type="submit" value="Confirmar">
            </form>
        </div>
    </main>
</body>
{% endblock content %}