{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->


<!--Bloque de la Pestaña de la Página-->
{% block title %}
Platos
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Platos
{% endblock title_menu %}




<!--Bloque de Contenido de la página-->
{% block content %}



    <a type="button" href="{% url 'plato-create' %}" class="btn btn-danger mt-1" >Nuevo plato</a> 


    <ul>
        {% for plato in platos %}

            <li>
                <p> {{plato.nombre}}: ${{plato.precio}}</p>
                <p>
                    <a href="{% url 'plato-detail' plato.id %}" class="btn btn-danger mt-1"> Ver</a>
                    <a href="{% url 'plato-update' plato.id %}" class="btn btn-danger mt-1"> Editar</a>
                    <a href="{% url 'plato-delete' plato.id %}" class="btn btn-danger mt-1"> Borrar</a>
                </p>
            </li>
        
        {% endfor %}
    </ul>
{% endblock content %}