{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->




<!--Bloque de la Pestaña de la Página-->
{% block title %}
Postres
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Confirmación Delete
{% endblock title_menu %}




<!-- Bloque del titulo de la página-->  
{% block title_page %}   
<div class="container-expand text-center">
<div class="text-bg-danger p-4">
    <h5> 
        Te damos la Bienvenida al menú digital.<br> En el podras
ver, crear, modificar o eliminar según consideres necesario.<br>
Te pedimos que sigas las instrucciones que se detallan a continuación...
        
   </h5>
</div>
</div>
{% endblock title_page %}




<!--Bloque de Contenido de la página-->
{% block content %}
<body>
    <main class="flex-shrink-0">
        <div class="container">
            <a type="button" href = "{% url 'postre-list' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary" >Lista de postres</a>
            <form method="post">{% csrf_token %}
                <p>¿Está seguro que desea borrar "{{postre.nombre}}"?</p>
                {{ form }}
                <input type="submit" value="Confirmar">
            </form>
        </div>
    </main>
</body>
{% endblock content %}