{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->




<!--Bloque de la Pestaña de la Página-->
{% block title %}
Postres
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Confirmación Delete
{% endblock title_menu %}






<!--Bloque de Contenido de la página-->
{% block content %}


        <div class="container">
            <a type="button" href = "{% url 'postre-list' %}" class="btn btn-danger mt-1" >Lista de postres</a>
            <form method="post">
                {% csrf_token %}
                <p>¿Está seguro que desea borrar "{{postre.nombre}}"?</p>
                {{ form }}
                <input type="submit" value="Confirmar">
            </form>
        </div>


{% endblock content %}