{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bienvenido..
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Menú Principal
{% endblock title_menu %}



{% block content %}

    <a type="button" href="{% url 'postre-create' %}" class="btn btn-sm btn-outline-primary">Nuevo postre</a> 
    <ul>
        {% for postre in postres %}

            <li>
                <p> {{postre.nombre}}: ${{postre.precio}}</p>
                <p>
                    <a href="{% url 'postre-detail' postre.id %}"> Ver</a>
                    <a href="{% url 'postre-update' postre.id %}"> Editar</a>
                    <a href="{% url 'postre-delete' postre.id %}"> Borrar</a>
                </p>
            </li>
        
        {% endfor %}
    </ul>
{% endblock content %}