{% extends 'app_menu/base.html' %}
<!-- Esto es solo para probar, después sacalo o cambialo-->





<!--Bloque de la Pestaña de la Página-->
{% block title %}
Postres
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Detalle de Postres
{% endblock title_menu %}





{% block content %}


    <p> {{postre.nombre}}</p>
    <p> {{postre.descripcion}}</p>
    <p> ${{postre.precio}}</p>
    <div style="text-align:left;">
        <img height="225" src="{{ postre.imagen.url }}" /> 
    </div>
    <p>
        <a href="{% url 'postre-list' %}">Regresar</a>
    </p>


{% endblock content %}