{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Postres
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Lista de Postres
{% endblock title_menu %}



{% block content %}

<div class="row mt-5">

    <div class="col-sm-6 col-md-4"></div>
        
        <div class="col-sm-6 col-md-4">

    <a type="button" href="{% url 'edicion-menu' %}" class="btn btn-danger mt-1" >Volver a Menu</a> 
    
    <a type="button" href="{% url 'postre-create' %}" class="btn btn-danger mt-1" >Nuevo postre</a> 

    
    <ul>
        {% for postre in postres %}

            <li>
                <p> {{postre.nombre}}: ${{postre.precio}}</p>
                <p>
                    <a href="{% url 'postre-update' postre.id %}" class="btn btn-danger mt-1" > Editar</a><br>
                    <a href="{% url 'postre-delete' postre.id %}" class="btn btn-danger mt-1" > Borrar</a><br>
                </p>
            </li>
        
        {% endfor %}
    </ul>

    </div>

</div>

{% endblock content %}