{% extends 'app_menu/base.html' %}



<!--Bloque de la Pestaña de la Página-->
{% block title %}
Bienvenido..
{% endblock title %}




<!-- Bloque del titulo del menu-->  
{% block title_menu %}
Menú Principal
{% endblock title_menu %}



{% block content %}

    <a type="button" href="{% url 'inicio' %}" class="btn btn-danger mt-1" >Volver al inicio</a> 
    <ul>
        {% for postre in postres %}

            <li>
                <p> {{postre.nombre}}: ${{postre.precio}}</p>
                <a href="{% url 'postre-detail' postre.id %}" class="btn btn-danger mt-1" > Ver</a>
            </li>
        
        {% endfor %}
    </ul>
{% endblock content %}